#root {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

::before,
*::after {
  box-sizing: border-box;
}

.pointer:hover {
  cursor: pointer;
}

.text-lavander {
  color: #E5E5EF;
}

.underline {
  border: 0px;
  border-bottom: 0.125rem solid #808098;
  padding-inline: 3px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#topbar {
  background-color: #F0F6FB(8, 184, 8, 0.523) !important;
  color: #FFF;
  height: 70px;
  flex-direction: column;
  align-items: center;
}

a {
  font-size: 1.3rem !important;
}

#basic-navbar-nav a:hover {
  color: #1977CC !important;
  text-shadow: 0px 0px 1px #000;
  font-weight: 500;
}

.btn-login {
  font-size: 1.1rem !important;
  color: #fff !important;
  box-shadow: 1px 1px 5px #43c1f7;
  text-shadow: 0px 0px 1px #000;
  border-radius: 20px !important;
  padding-inline: 30px !important;
  border: 0px !important;

}

.logo-container {
  font-weight: bold;
  font-size: 1.8rem !important;
}

.logo-container svg {
  color: red !important;
}

.logo-container span:first-child {
  color: #ff0000 !important;
}

#hero {
  background: url('./assets/bg_3.jpg') top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-attachment: fixed;
}


#hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  color: #2c4964;
}

#hero h2 {
  font-size: 1.4rem;
  color: #2C4964;
}

#login-form input :not(:last-child) {
  border: 0px;
  border-radius: 0;
  border-bottom: 2px solid black;
  background-color: transparent;
}

.form-control:focus {
  box-shadow: inset;
}

.form-control::placeholder {
  font-weight: bold;
}

.input-group-text:focus {
  box-shadow: inset;
}

.close-btn {
  font-size: 2.5rem;
}

.close-btn {
  cursor: pointer;
}

.form-control a {
  font-size: 1 rem !important;
}

form span:last-child {
  font-size: 1.1rem;
}

form a:last-child {
  font-size: 1.1rem !important;
}

.form-check-input[type=radio] {
  border-radius: 5px !important;
}

#radio-cont {
  border: 1px solid #DEE2E6 !important;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}



#sidebar a {
  display: flex;
  align-items: center;
}

#sidebar svg {
  padding-inline-end: 2px;
}

#dashboard-hero {
  background-image: linear-gradient(#E0E0EC, #E1E1ED);
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 13px;
  box-shadow: 0px 2px 2px grey;
}

.dashboard-img-container {
  background-image: url(./assets/stethoscope.png);
  background-size: cover;
  background-position: bottom;
  width: 50%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.statistics-box {
  background-color: #E5E5EF;
  color: #72839C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  box-shadow: 0px 2px 2px grey;
  width: 50%;
}

.statistics-box-d {
  background-color: #E5E5EF;
  color: #72839C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  box-shadow: 0px 2px 2px grey;
}

.data-container {
  background-color: #E5E5EF;
  border-radius: 13px;
  box-shadow: 0px 2px 2px grey;
}

.profile-data {
  background-color: #72839C;
  border-radius: 10px;
  color: #F0F6FB;
  font-weight: lighter;
  width: 50%;
}

.form-control:focus {

  border: none;
}

.card {
  background-color: #E5E5EF !important;
  box-shadow: 0px 2px 2px grey;
}

.card p {
  margin-bottom: 0;
}

.card span {
  color: #72839C;
}

#cart-prescriptions {
  background-color: #F5EFEF !important;
}

#cart-prescriptions button {
  background-color: #E5E5EF !important;
  color: #72839C;
  border: none;
  width: 49%;
}

.contact-btn {
  background-color: #F7F2F2 !important;
  color: #72839C !important;
  border: none !important;
  border-radius: 13px;
  box-shadow: 2px 2px 2px #72839C;
}


.appointmet-card {
  background-color: #E5E5EF;
  border-radius: 12px;

}

.appointmet-card p {
  margin-bottom: 0;
}

.prescription-card svg {
  width: 100%;
  height: 100%;
}

.prescription-card p {
  font-size: 0.8rem;
}

table {
  font-size: 0.8rem;
}

.pencil {
  width: 30px;
  display: none;
}

.prescription-card:hover {
  .pencil {
    display: block;
    cursor: pointer;
  }
}

.prescription-card-mini h3 {
  font-size: 0.7rem;
}

.prescription-card-mini p {
  font-size: 0.4rem;
}

.prescription-card-mini table {
  font-size: 0.4rem;
}

.prescription-card-mini .table-wrapper {
  padding-block: 0.2rem !important;
}

.prescription-card-mini td,
.prescription-card-mini th {
  padding: 0.1rem 0.1rem !important;
}



@media (max-width: 992px) {

  #hero {
    background: url('./assets/bg_3.jpg') top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-attachment: fixed;
  }

  #hero h1 {
    font-size: 2rem;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 1.3rem;
    line-height: 28px;
    color: #1977CC;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }


}